.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100px;
  padding: 1rem; 
  background-color: #070505;
  color: white;
  padding: 20px;
  border-top: 1px solid white;
  z-index: 1;
}


.Footer-logo {
  width: 150px;
  height: auto;
}

.Footer-info h4,
.Footer-hours h4,
.Footer-social h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.Footer-info p,
.Footer-hours ul li,
.Footer-social a {
  font-size: 14px;
  margin: 5px 0;
  color: white;
  text-decoration: none;
}

.Footer-social img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.Footer-social a:hover {
  opacity: 0.7;
}
